* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100%;
  /* background-color: rgba(161, 161, 161, 0.141); */
  background-color: white;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 80px;
  padding: 0 25px;
  background-color: white;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-around;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 50;
}
.hamburger {
  display: none;
}
.logo {
  display: flex;
  gap: 25px;
}
header .logo img {
  width: 120px;
}
header nav {
  height: 100%;
}
nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: rgb(93, 93, 93);
  cursor: pointer;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: black;
}

.search-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.search-bar i {
  position: absolute;
  left: 10px;
  color: grey;
}
.search-bar input {
  background-color: rgb(223, 223, 223);
  width: 35vmax;
  height: 50px;
  border-radius: 25px;
  padding-left: 35px;
  border: none;
}
.cart {
  display: flex;
  gap: 20px;
}
.cart i {
  color: rgb(74, 74, 74);
  cursor: pointer;
  transition: all 0.3s ease;
}
.cart i:hover {
  color: black;
}

/* =========================== */

@media (max-width: 920px) {
  header {
    /* margin-bottom: 50px;    */
  }
  .search-bar {
    padding: 15px;
    width: 100vw;
    position: absolute;
    top: 70px;
    left: 0;
    display: none;    /*  Temporary display none*/
  }
  .search-bar input {
    height: 45px;
    width: 100%;
    padding-left: 40px;
  }
  .search-bar i {
    left: 25px;
  }
}

@media (max-width: 650px) {
  header {
    justify-content: space-between;
    height: 70px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  nav {
    width: 100vw;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  nav.active {
    display: block;
  }
  nav ul {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: white;
    padding: 10px;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.home-page {
  width: 100%;
  height: auto;
  display: flex;
    background-color: rgba(161, 161, 161, 0.141);

}
.left {
  width: 50%;
  min-height: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left h1 {
  font-size: 4vmax;
  font-weight: 900;
  line-height: 65px;
}
.left p {
  padding: 25px 0;
  color: grey;
}
.left button {
  align-self: flex-start;
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: lighter;
  color: white;
  background-color: black;
  border: 2px solid black;
  transition: all 0.3s ease;
}
.left button:hover {
  background-color: transparent;
  color: black;
}
.network {
  padding-top: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.network h2 {
  font-size: 2vw;
  font-weight: 200;
}

.network p {
  font-size: 1vw;
  color: grey;
  line-height: 0;
}
.brand-count,
.product-count {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-right: 25px;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.right img {
  width: 50vw;
  height: 100%;
}

.right .star-1 {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 50px;
}
.right .star-2 {
  position: absolute;
  right: 50px;
  top: 20%;
  width: 100px;
}

@media (max-width: 1100px) {
  .left {
    padding: 0 15px;
  }
  .left h1 {
    line-height: normal;
  }

  .product-count {
    border: none;
  }
  .network{
    gap: 30px;
  }
}

@media (max-width: 750px) {
  header {
    /* margin-bottom: 80px; */
  }
  .home-page {
    height: auto;
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }
  .left button {
    align-self: normal;
  }
  .left h1 {
    font-size: 8vw;
    align-self: flex-start;
  }
  .network {
    justify-content: center;
    align-items: center;
  }
  .network h2 {
    font-size: 4vw;
  }
  .network p {
    font-size: 2vw;
  }
  .right {
    width: 100%;
    height: 50%;
  }
  .right img {
    width: 100%;
    height: 100%;
  }
}

/* Brands */
.brands{
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
  background-color: black;
  white-space: nowrap;
}

.brand-slide{
  display: inline-block;
  animation: 15s slide infinite linear;
}
.brand-slide img{
  height: 35px;
  margin: 0 40px;
}

@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}


/* new Arrivals */
.new-arrivals{
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.bottom-border{
  width: 80%;
  height: 1px;
  background-color: grey;
}
.new-arrivals h3{
  font-size: 3vmax;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.arrivals-card-container{
  width: 100%;
  height: auto;
  display: flex;
  gap: 25px;
  padding: 60px 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
 transition: all 0.3s ease;
}
.card:hover{
  transform: translateY(-2%);
   border-radius: 5px;
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.card .img-container{
  width: 100%;
  height: 250px;
  /* background-color: rgb(203, 203, 203); */
  border-radius: 10px;
}
.img-container img{
  width: 100%;
  height: 100%;
}
.card h4{
  font-size: 15px;
  font-weight: 500;
}
.rating span{
  font-size: 10px;
  color: grey;
}
.rating .checked{
  color: orange;
}
#price{
  font-size: 17px;
}

.view-all{
  padding: 10px 75px;
  border: 1px solid grey;
  color: black;
  background-color: transparent;
  border-radius: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* Dress style categories */

.dress-style-categories{
  width: 90%;
  border-radius: 25px;
  background-color: rgba(161, 161, 161, 0.141);
  margin-bottom: 100px;
  padding:  50px 70px;
}
.grid-layout{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.grid-layout div{
  height: 17vmax;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.grid-layout div:hover{
  transform: translateY(-5%);
box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

    
.casual{
  grid-column-start:1;
  grid-column-end: 2;
}
.grid-layout img{
  width: 100%;
  height: 100%;
}
.formal{
 
  grid-column-start:2;
  grid-column-end: 4;
}
.party{
  
  grid-column-start:1;
  grid-column-end: 3;
}
.gym{
 
  grid-column-start:3;
  grid-column-end: 4;
}
.dress-style-categories h3{
  font-size: 3vmax;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
}

@media(max-width:950px){
  .dress-style-categories{
    width: 95%;
  }
}

@media(max-width: 550px){
  .dress-style-categories{
    border-radius: 10px;
  }
  .grid-layout{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.grid-layout div{
  height: 170px;
}
.casual{
  grid-row-start:1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.formal{
  grid-row-start:2;
  grid-row-end: 3;
   grid-column-start: 1;
  grid-column-end: 2;
}
.party{
 
  grid-row-start:3;
  grid-row-end: 4;
   grid-column-start: 1;
  grid-column-end: 2;
}
.gym{
 grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:4;
  grid-row-end: 5;
}
}


/* Comments  */

.review-container{
  width: 100%;
  height: auto;
  padding: 0 90px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media(max-width: 750px){
  .review-container{
    padding: 0 25px;
  }
}

.review-container h3{
   font-size: 3vmax;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}
.reviews{
  margin-top: 50px;
 width: 100%;
 height: auto;
 display: flex;
 gap: 25px;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}
.review-card{
  width: 350px;
  height: 240px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}
.review-card .rating span{
  font-size: 15px;
}
.review-card h2{
  font-size: 18px;
}
.review-card h2 i{
  color: green;
}
.review-card p{
  font-size: 15px;
  color: grey;
  font-weight: 100;
}

.news-letter{
  margin-top: 50px;
  width: 80%;
  border-radius: 15px;
  min-height: 150px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
  padding: 25px;
  
}

.news-letter h2{
  color: white;
  text-transform: uppercase;
  font-size: 2.5vmax;
  font-weight: 900;
  line-height: normal;

}
.subscribe{
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.subscribe i{
  position: absolute;
  top: 13px;
  left: 15px;
  color: grey;
}
.subscribe input{
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: none;
  padding-left: 50px;
}
.subscribe button{
  width: 100%;
  border-radius: 25px;
  border: none;
  padding: 12px;
  background-color: white;
  cursor: pointer;
}

@media(max-width:645px){
  .news-letter{
    width: 95%;
  }
}

footer{
  width: 100%;
  height: auto;
  background-color: rgba(161, 161, 161, 0.141);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer-links{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
    padding: 70px;


}
.social-logo{
  width: 30%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 25px;

}
.social-logo img{
  width: 150px;
}
.social-logo p{
  color: gray;
}
.social-logo i{
  font-size: 22px;
}
.links-container{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}
.links{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.links h5{
  font-size: 15px;
  font-weight: 100;
}
.links ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding-left: 5px; */
}
.links ul li{
  color: grey;
  font-size: 12px;
}
.copyright-payment{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  gap: 25px;
  flex-wrap: wrap;
}
.copyright-payment p{
  color: grey;
}
.payment-options{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media(max-width: 850px){
  .footer-links{
    padding: 25px;
  }
  .copyright-payment{
    flex-direction: column;
    justify-content: center;
  }
}

@media(max-width: 650px){
  .footer-links{
    flex-direction: column;
  }
  .social-logo{
    width: 100%;
    height: auto;
    padding: 50px 20px;
    justify-content: space-evenly;
    align-items: center;
  }
  .social-logo p{
    text-align: center;
  }
  .links-container{
    width: 100%;
    padding: 50px 20px;
    justify-content: space-between;
  }
}